<footer class="footer">
  <div class="content-footer">
    <div class="navigation">
      <h5>Navegação</h5>
      <ul class="navigation-list">
        <li><a href="#">Populares</a></li>
        <li><a href="#">Novidades</a></li>
        <li><a href="#">Notícias e Fórum</a></li>
        <li><a href="#">Ordem Alfabética</a></li>
        <li><a href="#">Minha Lista de Favoritos</a></li>
      </ul>
    </div>
    <div class="generos-list">
      <h5>Gêneros</h5>
      <div class="todas-listas">
        <div class="lista-generos">
            <ul class="primeira-lista">
                <li><a href="#"  >Ação</a></li>
                <li><a href="#" >Aventura</a></li>
                <li><a href="#" >Comédia</a></li>
                <li><a href="#" >Drama</a></li>
                <li><a href="#" >Fantasia</a></li>
                <li><a href="#" >Ficção Científica</a></li>
            </ul>
        </div>
        <div class="lista-generos">
          <ul>
            <li><a href="#" >Romance</a></li>
            <li><a href="#" >Terror</a></li>
            <li><a href="#" >Mistério</a></li>
            <li><a href="#" >Esporte</a></li>
            <li><a href="#" >Histórico</a></li>
            <li><a href="#" >Slice of Life</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="groups">
      <h5>Grupos</h5>
      <ul class="group-list">
        <li><a href="#">Mangás</a></li>
        <li><a href="#">Manhuas</a></li>
        <li><a href="#">Webtoons</a></li>
        <li><a href="#">Novels</a></li>
        <li><a href="#">Destaques</a></li>
        <li><a href="#">Lançamentos</a></li>
        <li><a href="#">Finalizados</a></li>
      </ul>
    </div>
    <div class="account">
      <h5>Conta</h5>
      <ul class="account-options">
        <li><a href="#">Fazer Login</a></li>
        <li><a href="#">Criar Conta</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</footer>
