footer {

}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
.footer{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, #000 , #000000 , #000000, #000000,#000000, #022c22, #068f6f);
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 450px; /* Altura do rodapé */
  padding: 50px;
}
.footer .content-footer{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.footer .content-footer div ul li{
  padding: 10px;
}
.footer .content-footer div h5{
  color: #0ee1b0;
}
.footer .content-footer .navigation .navigation-list{

}
.footer .content-footer .generos-list .todas-listas{
  display: flex;
}
.footer .content-footer .generos-list .todas-listas{}
.footer .content-footer .generos-list .todas-listas .lista-generos .primeira-lista{
  margin-right: 15px;
}
.footer .content-footer div ul li{
  transition: .5s;
}
.footer .content-footer div ul li:hover{
  background: #3A4750;
  border-radius: 10px;
  cursor: pointer;
}
.footer .content-footer div ul li a{
  transition: .5s;
}
.footer .content-footer div ul li:hover a{
  color: #0ee1b0;
  margin-left: 5px;
}
