.header{
  display: flex;
  align-items: center;
  background: #212328;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.header .header-lado-direto .dropdown-user .user-link{
  font-size: 25px;
  color: white;
}
.header span h1{
  margin: 0;
}
.header .ul-lista-nav{
  list-style: none;
  display: flex;
  margin: 0;
}
.header .ul-lista-nav .li-lista-nav{
  margin-right: 20px;
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu{
  transform: translate(0) !important;
  position: fixed !important;
  background: #212328;
  border-radius: unset;
  top: 4.8rem !important;
  left: 0 !important;
  right: 0 !important;
  transition: transform .2s,opacity .2s cubic-bezier(0,0,.25,1),visibility 0s;
  width: 100vw;
  color: #fff;
  
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-left{
  width: 25%;
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-right{
  width: 75%;
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-right .todas-listas{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-right .todas-listas .lista-generos{}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-right .todas-listas .lista-generos ul{
  list-style: none;
}
.header .ul-lista-nav .li-lista-nav .custom-dropdown-menu .dropdown-menu-left .item-dropdown{
  color: white;
}
.header .ul-lista-nav .li-lista-nav .navegar-link{
  text-decoration: none;
  color: white;
}
.header .ul-lista-nav .li-lista-nav .navegar-link:hover{
  cursor: pointer;
}
